img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
} 

button{
    margin-top: 20px;
}

h1{
   text-align: left;
    color: white;
}
h2 #cityDate{
    text-align: center;
}
.currentCityWeather{
    text-align: center;
}

header {
    background-color: blue;
    width: 100%;
}
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}


/* Aside Class - Right Side */
aside{
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color:gray;
}

/* Footer */
footer {
    text-align: center;
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 24px;
    background-color: blue; 
}

footer a{
    color: white;
}





/* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
